<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.webcomm.cordova.plugin.payment" version="0.0.1" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>PaymentPlugin</name>
    <js-module name="PaymentPlugin" src="www/PaymentPlugin.js">
        <clobbers target="PaymentPlugin" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="PaymentPlugin">
                <param name="android-package" value="com.webcomm.cordova.plugin.payment.PaymentPlugin" />
            </feature>
            <preference name="android-targetSdkVersion" value="26"/>
            <preference name="android-minSdkVersion" value="23"/>
        </config-file>
        
        <config-file parent="application" target="AndroidManifest.xml">
            <meta-data android:name="com.google.android.gms.wallet.api.enabled" android:value="true" />
        </config-file>

        <framework src="com.google.android.gms:play-services-wallet:16.0.1" />
        <source-file src="src/android/PaymentPlugin.java" target-dir="src/com/webcomm/cordova/plugin/payment" />
        <source-file src="src/android/PaymentsUtil.java" target-dir="src/com/webcomm/cordova/plugin/payment" />
        <source-file src="src/android/Constants.java" target-dir="src/com/webcomm/cordova/plugin/payment" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="PaymentPlugin">
                <param name="ios-package" value="PaymentPlugin" />
            </feature>
        </config-file>
        <source-file src="src/ios/PaymentPlugin.m" />
    </platform>
</plugin>